.formWrapper {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    padding: 2rem 4rem;
}

.errorMessage {
    font-size: 14px;
    color: red;
    opacity: 1;
}
